<div class="container">
  <div class="row">
    <div class="input-field col s12 m12 l12">
      <input id="lastTransactionID" type="text" placeholder="Last Transaction ID" name="transaction" [value]="counterService.lastTransactionID" >
    </div>
    <label></label>
    <input style="width: 500px;  text-align: center;">
  </div>
  <div class="row col s12 m12 l12">
    <button type="button" class="waves-effect waves-light btn" (click)="increment()">Crear paciente</button>
    <button type="button" class="waves-effect waves-light btn" (click)="decrement()">Crear médico</button>
    <button type="button" class="waves-effect waves-light btn" (click)="crearHistoria()">Crear historia</button>
  </div>
  <div>
    <div class="input-field col s12 m12 l12">
      <input id="lastTransactionID" type="text" name="count" [value]="counterService.count">
    </div>
  </div>
</div>
